/* Estilos para la barra de navegación */
nav {
  overflow: hidden;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; /* Hace que los elementos de la lista se muestren en línea horizontal */
  justify-content: space-around; /* Distribuye los elementos de manera uniforme en el espacio disponible */
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  color: black; /* Cambia el color del texto según tus preferencias */
  text-decoration: none;
  padding: 1rem; /* Espaciado alrededor del texto del enlace */
}