.login {
  max-width: 400px;
  margin: 150px auto 60px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #000000; /* <-- Color de texto negro para visibilidad */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.form-login h1 {
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
}

.form-login .form-group {
  margin-bottom: 20px;
}

.form-login input {
  border-radius: 8px;
  padding: 10px;
}

button {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}