/* Estilos para el pie de página */
.footer {
  display: flex; /* Utiliza flexbox para organizar los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en líneas si es necesario */
  text-align: center; /* Alinea el texto al centro */
  margin-top: 20px; /* Espacio superior */
  background-color: black;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.footer p {
  flex: 1; /* Ocupa el espacio restante */
  margin: 0;
}

/* Estilos para los iconos de redes sociales */
.social-links {
  flex: 1; /* Ocupa el espacio restante */
  display: flex; /* Utiliza flexbox para organizar los iconos */
  justify-content: flex-end; /* Alinea los iconos al final del contenedor */
  align-items: center; /* Alinea verticalmente los iconos */
  margin-right: 50px;
}

.social-links a {
  margin-left: 10px; /* Espacio entre los iconos */
}

.social-links a img {
  width: 40px;
  height: 40px;
}
