.confirmed-booking {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 70%; /* Ancho del contenedor */
  margin: 20px auto; /* Centrar horizontalmente */
  text-align: center; /* Centrar el texto dentro del contenedor */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Alinea verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.confirmed-booking h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.confirmed-booking p {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}
