/* App.css */

.App {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  background-color: #46fda8; /* Puedes establecer el color de fondo deseado */
  color: white;
  padding: 10px;
}

.top > .nav {
  flex-grow: 1; /* Para que .nav ocupe todo el espacio restante */
  display: flex;
  align-items: center;
  justify-content: center; /* Para centrar el contenido de .nav horizontalmente */
}


.content {
  padding: 20px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #46fda8;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}